:root {
  --body-background: linear-gradient(
    to left,
    rgba(0, 123, 255, 1),
    rgba(0, 123, 255, 0.7)
  );
  --quiz-box-background: #f7f7f7;
  --quiz-box-shadow: rgba(0, 0, 0, 0.1);
  
  --quiz-button-background: #007bff;
  --quiz-onHover-background: #0263ca;
  --quiz-danger-button-background: #dc3545;
  --quiz-disabled-button: #033161;

  --quiz-option-background: aliceblue;
  --quiz-option-border-color: #84c5fe;
  --quiz-option-onHover-background: #cce5ff;
  --quiz-option-onHover-color: #004085;
  --quiz-option-onHover-border-color: #b8daff;

  --quiz-option-incorrect-background: #f8d7da;
  --quiz-option-incorrect-color: #721c24;
  --quiz-option-incorrect-border-color:#f5c6cb;

  --quiz-option-correct-background: #d4edda;
  --quiz-option-correct-color: #155724;
  --quiz-option-correct-border-color: #c3e6cb;

  --quiz-timer-warn-color: #ffcc00;
  --quiz-timer-danger-color: #cc3300;

  --navbar-height: 70px;
}

/* color scheme:dark */
@media (prefers-color-scheme: dark) {
  :root {
    --body-background: linear-gradient(
      to left,
      rgba(0, 123, 255, 1),
      rgba(0, 123, 255, 0.7)
    );
    --quiz-button-background: #007bff;
    --quiz-onHover-background: #0263ca;
    --quiz-danger-button-background: #dc3545;
    --quiz-disabled-button: #033161;

    --quiz-option-background: #343a40;
    --quiz-option-border-color: #84c5fe;
    --quiz-option-onHover-background: #cce5ff;
    --quiz-option-onHover-color: #004085;
    --quiz-option-onHover-border-color: #b8daff;

    --quiz-option-incorrect-background: #f8d7da;
    --quiz-option-incorrect-color: #721c24;
    --quiz-option-incorrect-border-color:#f5c6cb;

    --quiz-option-correct-background: #d4edda;
    --quiz-option-correct-color: #155724;
    --quiz-option-correct-border-color: #c3e6cb;

    --quiz-timer-warn-color: #ffcc00;
    --quiz-timer-danger-color: #cc3300;
  }
}

.marked, .marked a{
  color: #1f5c9e !important;
}

.mt {
  margin-top: 10px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
} 

.mt-5 {
  margin-top: 5rem;
}

.py-2 {
  padding: 20px;
}

.py-1 {
  padding: 10px;
}

.py-3 {
  padding: 30px;
}

.py-4 {
  padding: 40px;
}

.d-flex {
  display: flex;
}

.gap-1 {
  gap: 10px;
}

.p-relative {
  position: relative;
}