@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("root.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  transition: all 300ms;
}

body {
  background: var(--light-body-background);
}

.navbar {
  width: 100%;
  height: 70px;
  background: var(--light-navbar-background, #fff);
  display: flex;
  padding: 0 4%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar .nav-logo a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
}

.container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container .quiz-box {
  background: var(--light-quiz-box-background, #f7f7f7);
  transition: 450ms;
  overflow: hidden;
}
.container .quiz-box {
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  max-height: 650px;
}

.container .quiz-box.zoomIn {
  border-radius: 0;
  zoom: 2;
}

.container .quiz-box .quiz-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-box .content {
  padding: 20px;
}

.quiz-box .content .question {
  font-size: 29px;
  font-weight: bold;
}

.quiz-box .images {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin-bottom: 20px;
}

.quiz-box .images img {
  width: 33.33%;
}

.quiz-box .answers {
  margin: 25px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 47%);
  gap: 20px;
}

.quiz-box .answers .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box .answers .option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.quiz-box .answers .option.checked {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.quiz-box .answers .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.quiz-box .answers .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.option.disabled {
  pointer-events: none;
}

.quiz .navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.quiz .navigation button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  transform: scale(0.95);
  transition: all 0.3s ease;
  user-select: none;
}

.quiz .navigation button:hover {
  background: #0263ca;
}

.quiz .navigation button:disabled {
  cursor: not-allowed !important;
  background: #033161;
}

.quiz-title .action {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}

#toggleFullScreen svg path {
  transition: 300ms;
}

#toggleFullScreen svg.mini path {
  d: path(
    "M15 2h2v5h7v2h-9v-7zm9 13v2h-7v5h-2v-7h9zm-15 7h-2v-5h-7v-2h9v7zm-9-13v-2h7v-5h2v7h-9z"
  ) !important;
}

.timer {
  position: absolute;
  right: 50px;
  top: 10px;
}

.timer .content {
  padding: 10px 20px;
  border-radius: 9px;
  background: #151515;
  color: #fff;
  font-size: 25px;
}

.timer.warned .content {
  background: var(--light-quiz-timer-background);
}

.timer.danger .content {
  background: var(--light-quiz-danger-background);
}


@media screen and (max-width) {
    
}