{% extends 'her/base.html' %} {% block content %} {% csrf_token %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span>{{ exam.name }}</span>
    </div>
    <div class="content">
      <p>{{ exam.description }}</p>
      <div class="answers">
        {% for quiz in quizzes %}
        <div class="option" data-quiz-id="{{quiz.id}}">
          <span>{{ quiz.question }}</span>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'edit:add_quiz' exam.id  %}"
        ><div class="add mt-2">
          <button class="button button-danger">Add</button>
        </div></a
      >
    </div>
  </div>
</div>
<script>
  var csrf_token = document.querySelector('[name="csrfmiddlewaretoken"]').value;
  var default_headers = {
    'X-CSRFToken': csrf_token,
    'Content-Type': 'application/json'
  };
  function deleteQuiz(id) {
    var headers = Object.assign({}, default_headers);
    headers['X-METHOD'] = 'DELETE';
    fetch("/settings/" + 'delete/quiz/' + id + '/', {
      method: 'POST',
      headers: headers
    }).then(function(response) {
      if(response.ok) {
        document.querySelector('[data-quiz-id="' + id + '"]').remove();
      }
    });
  }
  document.querySelectorAll('.answers .option').forEach(function(option) {
    option.addEventListener('dblclick', function() {
      var id = option.getAttribute('data-quiz-id');
      deleteQuiz(id);
    });
  }
  );
</script>
{% endblock %}
