{% extends 'her/base.html' %} {% block content %} 
    {% csrf_token %}
    <script>
        const URL = '{% url "edit:add_quiz" exam.id %}'
        const csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;
        fetch(URL, {
            method: "POST",
            credintials: "same-origin",
            headers: {
                'Accept': 'application/json',
                "Content-Type": "application/json",
                'X-Requested-With': 'XMLHttpRequest',
                "X-CSRFToken": csrf_token
            },
            body: JSON.stringify({'hello': 'world'}),
        }).then(response => response.json()).then(data => {
            console.log(data)
        }).catch(error => {
            console.error(error)
        })
    </script>
{% endblock %}
