{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    {% block title %} {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="nav-logo">
        <a href="/"> Quiz </a>
      </div>
      <div class="action">
        {% if request.user.is_authenticated %}
        <div class="logout">
          <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% block content %} {% endblock %} {% block script %} {% endblock %}
    <script>
      const quizBoxes = document.querySelectorAll(".quiz-box");
      quizBoxes.forEach(box=>{
        if (!box.querySelector('.quiz-title').className.includes('p-relative')) {
          box.querySelector('.content').style.marginTop = 81 + 'px';
        }
      })
    </script>
  </body>
</html>
