{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title p-relative">
      <span class="marked">
        Login
      </span>
    </div>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Username</label>
          <input type="username" name="username" placeholder="Your username" required />
        </div>
        <div class="field">
          <label class="label">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Your password"
            required
          />
        </div>
        <div class="field">
            <button class="button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll("form input").forEach((input) => {
    input.addEventListener("focus", function (e) {
      var target = document.querySelector(".quiz-box")
      if (!target.className.includes("focused")) {
        target.classList.add("focused")
      } 
    });
    input.addEventListener("focusout", function (e) {
      var target = document.querySelector(".quiz-box")
      target.classList.remove("focused")
    });
  });
</script>
{% endblock %}

{% block title %}
    <title>Quiz - Login</title>
{% endblock title %}