{% extends './base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="timer">
    <div class="content">
      <span class="time" id="countDown">{{ exam.count_down }}</span>
    </div>
  </div>
  <div class="quiz-box">
    <div class="quiz-title">
      <span class="marked"></span>

      <div class="action" id="toggleFullScreen">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 9h-2v-5h-7v-2h9v7zm-9 13v-2h7v-5h2v7h-9zm-15-7h2v5h7v2h-9v-7zm9-13v2h-7v5h-2v-7h9z"
          />
        </svg>
      </div>
    </div>
    <div class="content">
      <div class="quiz">
        <div class="images">
          <!--
               quiz images
              !Warn Don't use
                  * very huge images
                  * more than 3 images, maximum is 3 images
            -->
          {% comment %} <img src="//picsum.photos/200" alt="" /> {% endcomment %}
          {% comment %} <img src="//picsum.photos/200" alt="" /> {% endcomment %}
          {% comment %} <img src="//picsum.photos/200" alt="" /> {% endcomment %}
        </div>
        <div class="question" data-id="1">
          <span
            >{{ quiz.question }}</span
          >
        </div>
        <div class="answers">
          {% for option in options %}
          <div class="option">
            <span>{{ option.option }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="navigation">
          {% comment %} <button class="button button-prev" disabled="true" id="prevQuiz">Previous</button> {% endcomment %}
          {% if is_last %}
          <button class="button button-next" id="nextQuiz">Finish</button>
          {% else%}
          <button class="button button-next" id="nextQuiz">Next</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  const exam_slug = "{{ exam.slug }}";
  const question_id = {{ quiz.id }};
  const csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'assets/js/post.js' %}"></script>
<script src="{% static 'assets/js/select.js' %}"></script>
{% endblock %}
